{{> menu}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>List Users</h3>
        </div>
    </div>
    <div class="row-fluid">
        {{#each result}}
            <div class="row-fluid">
                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                    <p>Id : {{_id}}</p>

                    <p>Date : {{date}}</p>

                    <p>Event : {{event}}</p>

                    <p>Session : {{session}}</p>

                    <p>Ip : {{ip}}</p>

                    <p>Message : {{message}}</p>

                    <p>User Id : {{user_id._id}}</p>

                    <p>User Login : {{user_id.login}}</p>
                    <hr>

                    <p></p>
                </div>
            </div>
        {{/each}}
    </div>
</div>