extends layout

append head
  script(src='/javascripts/user_socket.js')

block content
  h3= title
  p Room is "#{room}"
  p Liste des Utilisateurs :
  select
      each user in result
          option(value="#{user._id}") #{user.login}-#{user.password}
  p
  a(href='javascript:history.go(-1)') Retour Acccueil
             